<%= form_for("user", :url => "#{cognito_auth.root_path}new-password-required") do |f| %>
    <div><%= f.label :password %><br />
    <%= f.password_field :password, :class => "form-control" %></div> <br />
    <div><%= f.submit "Change Password", :class => "btn btn-primary"%></div>
<% end %>
