<%= form_for("user", :url => forgot_password_path) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email,:class => "form-control"%></div> <br/>
    <div><%= f.submit "Send Recovery Code", :class => "btn btn-primary"%></div>
<% end %>
